@use '../../styles/abstracts/variables' as *;

.catalog{
  display: flex;
  width: 100%;
  height: 55px;
  align-items: center;
  background-color: $color-yellow;
  justify-content: space-between;
  font-size: clamp(1.2rem, 1.8vw, 20px);
  padding: 1px 20%;
    *{
      text-decoration: none;
    }

    *{
      display: inline-flex;
      cursor: pointer;

      &:hover{
        text-decoration: underline;
      }  
    }

    .favourites{
      display: inline-flex;
      align-items: center;
      img{  
        margin-right: 5px;
       // margin-top: 2%;
      }
    }
}