@use '../../styles/abstracts/variables' as *;

.catalog{
  display: flex;
  width: 100%;
  height: 55px;
  align-items: center;
  background-color: $color-yellow;
  justify-content: space-between;
  font-size: clamp(1.2rem, 1.8vw, 20px);
  padding: 1px 20%;
    *{
      text-decoration: none;
    }

    *{
      display: inline-flex;
      cursor: pointer;

      &:hover{
        text-decoration: underline;
      }  
    }

    .favourites{
      display: inline-flex;
      align-items: center;
      img{  
        margin-right: 5%;
       // margin-top: 2%;
      }
    }

  @media (max-width: 1024px) {
       
        font-size: clamp(1.0rem, 2vw, 24px);
        height: 7vh; 
        .favourites img {
            width: 3vmin; 
        }
    }

    @media (max-width: 768px) {
      
      font-size: clamp(0.9rem, 2vw, 24px);
      height: 6vh;
      gap: 2vw;
      padding: 0 15%;
      favotites{
        img{
           width: 2vmin; 
        }
      }
    }
}