@use '../../styles/abstracts/variables' as *;

.button{
  width: 10vw;
  height: 7vh;
  //margin-top: 7vh;
  background-color: $color-yellow ;
  //font-style:italic;
  font-size: clamp(1rem, 1.3vw, 24px); 
  border-radius: 80px;
  border-style: none;
  padding: 1.5vmin 1vw;
  align-items: center;
  box-shadow: 0 7px 3px #C0C0C0;
}