/* RecipeCard.module.scss - Merged */

.card {
  background-color: #ffffff;
  width: 22%; 
  height: auto;
  border-radius: clamp(1vw, 5vw, 80px);
  align-items:center;
  justify-content: center;
  padding: 1.2%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

  &.card--small { 
    border-radius: clamp(1rem, 8vmin, 300px);
    .frame{
      border-radius: clamp(1rem, 7vmin, 200px);
      .image-container{
        .image{
          border-radius: clamp(1rem, 6vmin, 100px);
        }
        .favorite{
          top: 12%;
          right: 12%;
          img{
            width: 4vmin;
            height: auto;
          }
        }
      }
      .info {
        .name {
          p {
            font-size: clamp(0.9rem, 1.4vw, 20px) !important;
          }
        }
        .content {
          .text {
            font-size: clamp(0.7rem, 1.0vw, 16px) !important;
          }
          .rating {
            img {
              width: 21%;
              height: auto;
            }
          }
        }
      }
    }
  }
}

.frame{
  display:flex;
  position: relative;
  width:100%;
  height: 100%;
  aspect-ratio: 5 / 6; 
  background-color: #FFF2D8; /* $color-yellow */
  border-radius: clamp(4vw, 1vw, 100px);
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

.image-container{
  display: flex;
  width:100%;
  height: auto;
  position: relative;
  border-radius: 4vw;
  flex: 1;
}

/* Используем этот класс для всех картинок в карточках */
.recipeImage, .image {
  display: flex;
  width: 100%;
  height: 100%; 
  object-fit: cover; 
  border-radius: 4vw;
  position: absolute;
}

.favorite{
  position: absolute;
  top: 10%;
  right: 10%;
  cursor: pointer;
  img{
    width: 3vw;
    height: auto;
  }
}

.info{
  display: flex;
  width:100%;
  height: 20%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4vh;
  margin-top: 2vh;
  gap: 20%;
}

.name{
  width: 100%;
  display: flex;
  flex:1;
  align-items: center;
  justify-content: center; 
  padding-right: 6%;
  padding-left: 6%;

  p{
    font-size: clamp(1rem, 1.8vw, 24px);
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.content{
  display: flex;
  padding-left: 12%;
  padding-right: 12%;
  width:100%;
  flex-direction:row;
  align-items: flex-end;
  text-wrap: nowrap;
  gap: 8%;
}

.text{
  flex-direction: column;
  text-align: left;
  font-size: clamp(0.9rem, 1.4vw, 20px);
  flex:1;
}

.rating{
  display: flex;
  align-self: flex-end;
  margin-left:auto;
  flex-wrap: nowrap;
  
  img{
    width: 20%;
    height: auto;
  }
}

@media(max-width: 1024px){
  .frame{
    .info{
      .content{
        .text{
          font-size: clamp(0.8rem, 1vw, 1.5rem) ;
        }
      }
    }
  }
}

@media(max-width: 768px){
  .card {
    border-radius: clamp(10vw, 1vw, 80px);
    padding: 2%;
  }
  .frame{
    border-radius: clamp(10vw, 1vw, 100px);
  }
  .recipeImage, .image {
    border-radius: clamp(10vw, 1vw, 100px);
  }
  .favorite{
    img{
      width: 6vw;
    }
  }
  .info{
    .name{
      p{
        font-size: clamp(1rem, 3vw, 2rem);
      }
    }
    .content{
      .text{
        font-size: clamp(0.9rem, 2vw, 1.5rem) ;
      }
    }
  }
}
