$font-stack: 'Arsenal';
$font-title-adap-size: clamp(2rem, 4vw, 44px);
$color-yellow: #FDE2B0;
$breakpoint-phone: 375px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;
$color-white: #FFFFFF;
