@use '../../styles/abstracts/variables' as *;

.home{
  display: flex;
  width: 100%;
  font-family: $font-stack;
  flex-direction: column;
  height: 100%; 
  min-height: 100vh;
  
  .day-recipe{
    position: relative;
    width:100%;
    min-height: 90vh;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    .background{
      width: 100%;
      height: 100%; 

      img{
          width:100%;
          height: 100%;
          position:absolute;
          object-fit: cover;
          z-index: 1;
      }
      p{
        position:absolute;
        font-size: $font-title-adap-size;
        color: $color-yellow;
        top: 7%;
        left: 35%;
        bottom: 7%;
        transform: translateX(-50%);
        z-index: 2;
      }
    }
    .recipe{
      position: absolute;
      z-index: 3; 
      gap: 10%;
      background-color: $color-white;
      margin-top: 20vh;
      margin-bottom: 20%;
      left: 20%; 
      width:80%;
      border-bottom-left-radius: 10vmin;
      border-top-left-radius: 10vmin;
      display: flex;
      max-height: 50vh;
        
      img{
        display: flex;
        margin: 20px;
        border-radius: 7vmin;
        width: 40%; 
        height: auto; 
        object-fit:cover;
        
      }

      .info{
        width: 30%;
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        .name{
          font-size: $font-title-adap-size;
          margin-bottom: 3%;
          text-align: center;
          margin-top: 3%;
        }
        .description{
          font-size: clamp(1.2rem, 2vw, 24px);
          font-style:italic;
          width: 40vw;
          text-align: center;
          //white-space: nowrap;
        }
        button{
          margin-top: 7vh;
          font-style:italic;
          font-size: clamp(1rem, 2vw, 24px); 
          margin-bottom: 3vh;
        }
      }
    }
  } 
  .new-recipes-title{
    background-color: $color-white;
    text-align:center;
    font-size: $font-title-adap-size;
    padding: 1.1% 0;
  }

  .new-recipes{
    display: flex;
    min-height: 80vh;
    background-color: $color-yellow;
    align-items: center;
    justify-content: center;
    .new-recipes-cards{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      gap: 5%;
    }
  }
}


@media (max-width: 1024px) {
  .home {
    .day-recipe {
      min-height: 90vh; 
      
      .recipe {
        //width: 80%; 
        right: auto;
        gap:5%;
        max-height: 40vh;

        
        .info {
          width: 45%;
          white-space: normal;
          margin-top: 7vh;
          margin-bottom: 10vh;
          button {
            margin-top: 3vh;
             width: 40%;
            height: 60%;
           // padding: 5% 10%;
          }
        }
      }
    }

    .new-recipes-title {
      padding: 3% 0;
    }

    .new-recipes {
      padding: 8% 3%;
      min-height: 60vh;
    }
  }
}

@media (max-width: 768px) {
  .home {
    .day-recipe {
      min-height: 700px; 
      height: 80vh;
      .background p {
        font-size: clamp(1.5rem, 5vw, 2.5rem);
        top: 5%;
        margin-bottom: 1%;
        left: 50%;
        transform: translateX(-50%);
        right: auto;
      }

      .recipe {
        flex-direction: column; 
        left: 50%; 
        transform: translateX(-50%);
        width: 60%; 
        max-width: 400px; 
        border-radius: 10vmin; 
        padding-bottom: 2vh;
        margin-top: 15vh; 
        height: auto;
        max-height: 90vh;
        margin-bottom: 0;
        img {
          max-height: 40vw;
          width: 90%; 
          max-width: none;
          margin-top: 3vw; 
          align-self: center;
          
        }

        .info {
          width: 100%; 
          padding: 0 10px;
          margin-bottom: 0;
          margin-top: 0; 
          .name {
            font-size: clamp(1.5rem, 5vw, 2rem);
            //margin-top: 1vh;
          }
          .description {
            font-size: 0.9rem;
            text-align: center;
            padding: 0 10px;
            font-size: clamp(1rem, 3vw, 1.5rem);
            width: 100%;
          }

          button {
           
            height: auto;
            margin-top: 3vh;
            font-size: clamp(0.7rem, 2.5vw, 1.5rem);
            padding: 5% 10%;
           
          }
        }
      }
    }

    .new-recipes-title {
      font-size: clamp(1.4rem, 5vw, 1.8rem);
    }

     .new-recipes {
      padding: 10% 0;
      
      
      .new-recipes-cards {
        flex-direction: column; 
        align-items: center;
        gap: 40px; 
        > * {
          width: 50%; 
          background-color: $color-white;
        }
      }
    }
  }
}
