@use '../../styles/abstracts/variables' as *;


.home{
  display: flex;
  width: 100%;
  font-family: $font-stack;
  flex-direction: column;
  height: 100%; /* Гарантируем, что контейнеры занимают всю высоту */
  min-height: 100vh;
  .day-recipe{
    position: relative;
    width:100%;
    min-height: 85vh ;
    .background{
      width: 100%;
      height: 100%; 

      img{
          width:100%;
          height: 100%;
          position:absolute;
          object-fit: cover;
          z-index: 1;
      }
      p{
        position:absolute;
        font-size: $font-title-adap-size;
        color: $color-yellow;
        top: 40px;
        left: 25%;
        z-index: 2;
      }
    }
    .recipe{
      position: absolute;
      z-index: 3; 
      gap: 50px;
      background-color: $color-white;
      margin-top: 140px;
      left: 20%; 
      width:80%;
      //right:0;
      border-bottom-left-radius: 10vmin;
      border-top-left-radius: 10vmin;
      display: flex;

      //align-items: center; 

      img{
        display: flex;
        margin: 20px;
        border-radius: 5vmin;
        width: 36%; 
        min-width: 200px;
        height: auto; 
  
      }

      .info{
        width: 30%;
        display: flex;
        flex-direction: column; 
        justify-content: center;
        white-space: nowrap;
        align-items: center;
        .name{
          margin-top: 5%;
          font-size: $font-title-adap-size;
          margin-bottom: 0.4em;
        }
        .description{
          font-size: clamp(1.2rem, 2vw, 24px);
          font-style:italic;
        }
        button{
          width: 60%;
          height:20%;
          margin-top: 7vh;
          background-color: $color-yellow ;
          font-style:italic;
          font-size: clamp(1rem, 2vw, 24px); 
          border-radius: 80px;
          border-style: none;
          padding: 1.5vmin 1vw;
          align-items: center;
          margin-bottom: 10%;
          box-shadow: 0 7px 3px #C0C0C0;
        }
      }
      
    }
  } 
  .new-recipes-title{
    background-color: $color-white;
    text-align:center;
    font-size: $font-title-adap-size;
    padding: 1.1% 0;
  }

  .new-recipes{
    display: flex;
     min-height: 80vh;
    background-color: $color-yellow;
    //padding: 8% 3%;
    align-items: center;
    justify-content: center;
    .new-recipes-cards{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      gap: 50px;
    }
  }
}