@use '../../styles/abstracts/variables' as *;

.ingredient{
  display: flex;
  justify-content: center;
  span{
    font-size: clamp(0.9rem, 1.3vw, 28px);
  }
  .dots{
    background-image: radial-gradient(circle, #000000 1px, transparent 1px); 
    background-repeat: repeat-x; 
    background-position: bottom; 
    background-size: 1vw 5px;
    margin: 0 1rem;
    flex-grow: 1;
    height: 1em;
  }
  .amount{
    margin-right: 0.7vw;
  }
}