@use '../../styles/abstracts/variables' as *;

.comment{

  .author{
    font-size: clamp(0.8rem, 1.2vw, 28px);
    margin-bottom: 1vh;
  }
  .textBlock{
    width: 37vw;
    min-height: 10vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid $color-yellow;
    border-radius: 2vw;
    padding: 1.5vh 1.5vw;
    font-size: clamp(0.9rem, 1.3vw, 28px);
    .text{
      overflow-y: hidden;
      resize: none;
      border: none;
      outline: none;
      font-size: clamp(0.9rem, 1.3vw, 28px);
      margin-bottom: 1.5vh;
    }


    
  }
}