@use '../../styles/abstracts/variables' as *;

.navbar{
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-white;
  padding: 18px 7%;
  font-size: clamp(1.2rem, 1.8vw, 20px);

  .recipies-home{
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }

  .userPanel{
    display: flex;
    list-style: none;
    gap: 2vw;
    align-items: center;
    .userInfo{
      display: flex;
      align-items: center;
      gap: 1vw;
      .avatarFrame{
        display: flex;
        aspect-ratio: 1/1;
         width: 5vmin;
        padding: 0.5vmin;
        border-radius: 30rem;
        background-color: $color-gray-dark;
        .avatarImg{
          display: flex;
          width: 100%;
           border-radius: 30rem;
        object-fit: cover;
       
        }
      }
    }
  }
  .sign-in{
    display: flex;
    list-style: none;
    align-items: center;  
    gap: 2vw;

    li{
      cursor:pointer;
    }
  }

  .home-bar{
    display: flex;
    cursor: pointer;
  }

  .search-box{
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 5px 20px;
    border: 1px solid;
    height: 35px;
    justify-content: center;
    width: 30%; 
    min-width: 15%; 
    margin-left: 7%;
    
    input{
      padding: 6px;
      background: none; 
      border: none;
      outline: 0;
      color: #000000;
      font-size: 20px;
      width: 100%;
    }
    
    .search-icon{
      width: 22px;
      cursor:pointer;
    }
  }
 
  @media(max-width: 1024px) {
        padding: 18px 5%; 
        font-size: clamp(1.0rem, 1.8vw, 20px);
        height: 9vh;
        .search-box {
  
            width: 35%;
            margin-left: 3%;
            padding: 5px 15px; 
            
            input {
                font-size: 16px; 
            }
        }
        
        .sign-in {
            gap: 1.5vw; 
            height: 4vh;
        }
    }
    @media(max-width: 768px) {
      
        height: 8vh; 
        padding: 15px 7%; 
        
        font-size: clamp(0.9rem, 2vw, 24px);

        .search-box {
            min-width: unset; 
            margin-left: 2%;
            height: 30px; 
            padding: 4px 10px; 

            input {
                 font-size: clamp(0.9rem, 2vw, 24px);
                padding: 4px;
            }
            
            .search-icon {
                width: 18px;
            }
        }
     
        .sign-in {
            gap: 2vw; 
            .line-sign-in{
              height: 4vh;
            }
        }
    
    }
}
